@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --clr-primary: #2d93af;
  --clr-secondary: #ef476fff;
  --clr-dark: #073b4cff;
  --clr-yellow: #ffd166ff;
  --clr-contrast: #06d6a0ff;
  --blue-ncs: #118ab2ff;
}

body {
  background-color: #f4f4f4;
  /* background-color: #202124; */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
