@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --clr-primary: #2d93af;
  --clr-secondary: #ef476fff;
  --clr-dark: #073b4cff;
  --clr-yellow: #ffd166ff;
  --clr-contrast: #06d6a0ff;
  --blue-ncs: #118ab2ff;
}

body {
  background-color: #f4f4f4;
}
